* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #1a191f;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  height: 8rem;
}

.header__logo {
  font-size: 32px;
  text-decoration: none;
  color: #ffffff;
}

.header__search {
  padding: 1rem;
  border: 2px solid #1a191f;
  border-radius: 5px;
  outline: none;
}

.nav__categories {
  display: flex;
  align-items: center;
}

.btn_current_month,
.btn_expected,
.btn_best,
.btn_upcoming_movies,
.btn_favourites {
  font-size: 1.5rem;
  width: 15rem;
  cursor: pointer;
}

.btn_current_month:hover,
.btn_expected:hover,
.btn_best:hover,
.btn_upcoming_movies:hover,
.btn_favourites:hover {
  background-color: #e9dccd;
}

.btn_favourites {
  height: 3.8rem;
}

/* Main section */
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.movie__cover-inner {
  position: relative;
  height: 360px;
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie__cover--darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.movie__cover--darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.movie__info {
  padding: 10px 0px;
}

.movie__title {
  font-size: 16px;
  color: #ffffff;
}

.movie__category {
  font-size: 14px;
  color: #ffd80e;
}

.movie__year {
  font-size: 14px;
  color: #fff;
}

.movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  color: #ffffff;
  font-size: 14px;
}

.movie__average--green {
  border: 4px solid green;
}

.movie__average--orange {
  border: 4px solid orange;
}

.movie__average--red {
  border: 4px solid red;
}

/* Heart button  */

.heart {
  position: absolute;
  bottom: 4rem;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  border-image: radial-gradient(rgb(255, 255, 255) 69%, #0000 0%) 84.5% / 50%;

  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  transition: all 0.5s ease-in-out;
}

.heart-active {
  border-image: radial-gradient(rgb(255, 20, 20) 69%, #0000 0%) 84.5% / 50%;
}
